//
   Created by xiangwenwen on 16/4/13.
- var complie = htmlWebpackPlugin.options.complieConfig
- var src = complie.cdn || '/link/'
- var map = complie.script || []
each item in map
    script(type="text/javascript",src=src+item)
