//
   Created by xiangwenwen on 16/4/13.
- var src;
- var map = ['jquery/dist/jquery.min.js','underscore/underscore-min.js','backbone/backbone-min.js']
if htmlWebpackPlugin.options.cdn
    - src = 'http://127.0.0.1:3000/www/link/'
else
    - src = '/link/'
// build:js ./
each val in map
    script(type="text/javascript",src=src+val)
// endbuild