//
   Created by xiangwenwen on 16/4/14.
- var complie = htmlWebpackPlugin.options.complieConfig
- var src = complie.cdn || '/link/'
- var map = complie.style || []
each item in map
    link(rel="stylesheet",href=src+item)